<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= websiteName %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css css/main.css -->
    <!-- bower:css -->
      <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css">
    <!-- endbower -->
    <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->

  <!-- build:js js/vendor/modernizr.js -->
    <!-- bower:js -->
      <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbower -->
  <!-- endbuild -->

</head>

<body class="preload">

  @@include("browse-happy.html")

  @@include("page-header.html")

  <main id="main" role="main">
    @@include(markdown("index-content.md"))
  </main>

  @@include("page-footer.html")

  @@include("google-analytics.js")

  <!-- build:js js/main.js-->
    <!-- bower:js -->
      <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <script src="js/main.js"></script>
  <!-- endbuild -->

</body>
</html>
